@page
@model RobertHeijnWebApp.Pages.ShopModel
@{
	if(User.Identity.IsAuthenticated)
	{
		Layout = "_LoggedInLayout";
	}
}
<section id="items">
	<div class="item-container">
		@foreach (var item in Model.Items)
		{
			if (item.Available)
			{
				<div class="item-card">
					<a asp-page="Item" asp-route-id="@item.Id">
						<img src="@item.ImageSource">
						<div class="text">
							<div class="description">
								<h5>@item.Name</h5>
								<h4> €@item.Price</h4>
							</div>
						</div>
					</a>
				</div>
			}
		}
	</div>
</section>